body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.supporting-us {
  max-width: 385px;
  width: 90vw;
  margin: 120px auto;
}

.supporting-us__title {
  margin-bottom: 0;
  font-size: 35px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: -1.2px;
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sponsor--primary {
  width: 90%;
  margin-top: 100px;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 4%);
}

.sponsor {
  width: 90%;
  margin-top: 50px;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 4%);
}

.sponsor__details {
  display: flex;
  flex-direction: column;
}

.sponsor__details--primary {
  display: flex;
  flex-direction: column;
}

.sponsor__caption {
  position: relative;
  width: 100%;
}

.caption__slider {
  display: flex;
  overflow: hidden;
  box-shadow: 0 11px 44px 0 rgb(0 0 0 / 19%);
}

.slider__slide {
  min-width: 100%;
  height: 250px;
  animation: slider 5s ease-in-out infinite;
}

.caption__image {
  width: 100%;
  min-width: 100%;
  height: 250px;
  box-shadow: 0 11px 44px 0 rgb(0 0 0 / 19%);
}

.caption__heading--primary {
  position: absolute;
  top: 85%;
  right: -10%;
  max-width: 175px;
  height: fit-content;
  padding: 5px 10px;
  background-color: #30cec1;
  box-shadow: 0 11px 44px 0 rgb(0 0 0 / 19%);
}

.caption__heading {
  position: absolute;
  top: 85%;
  right: -10%;
  max-width: 175px;
  width: 175px;
  height: fit-content;
  padding: 5px 10px;
  background-color: #2c373f;
  box-shadow: 0 11px 44px 0 rgb(0 0 0 / 19%);
}

.caption__heading--inversed {
  position: absolute;
  top: 85%;
  left: -10%;
  max-width: 175px;
  width: 175px;
  height: fit-content;
  padding: 5px 10px;
  background-color: #2c373f;
  box-shadow: 0 11px 44px 0 rgb(0 0 0 / 19%);
}

.heading__type {
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 0;
}

.heading__name--primary {
  font-size: 18px;
  font-weight: 900;
  margin: 5px 0 10px;
  color: #2c373f;
}

.heading__name {
  font-size: 18px;
  font-weight: 900;
  margin: 5px 0 10px;
  color: #30cec1;
}

.slider__dots {
  display: none;
}

.slider__dot {
  margin: 0 10px;
  height: 5px;
  width: 30px;
  opacity: 0.4;
  background-color: #30cec1;
}

.details__logo--rimac {
  width: 160px;
  margin-top: -15px;
  margin-left: -40px;
}

.details__logo--ericsson {
  width: 60px;
  height: 50px;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 15px;
}

.details__logo--extension-engine {
  width: 100%;
  transform: scale(0.3);
  align-self: flex-end;
  margin-right: -90px;
}

.details__logo--hattrick {
  transform: scale(0.25);
  margin-left: -100px;
  align-self: flex-start;
}

.details__logo {
  height: 50px;
  margin-top: -15px;
  margin-left: -40px;
}

.details__description--primary {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 24px;
  padding: 0 15px 10px;
  margin-top: -35px;
}

.details__description {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 24px;
  padding: 0 15px 10px;
  margin-top: 30px;
}

.other-sponsors__category {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__title {
  align-self: flex-start;
  margin-bottom: 0;
  margin-left: 15px;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: -1.2px;
}

.category__sponsor {
  flex-basis: 50%;
  height: 100px;
  margin: 50px auto 0;
}

.sponsor__logo {
  max-width: 50%;
  margin: 15px 0;
  padding: 0 25%;
}

@keyframes slider {
  from {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  37.5% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  62.5% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  87.5% {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .supporting-us {
    max-width: 820px;
  }

  .sponsor--primary {
    display: flex;
    box-shadow: none;
  }

  .sponsor {
    box-shadow: none;
  }

  .sponsor__details {
    width: 50%;
    margin-left: 5%;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 4%);
  }

  .sponsor__details--primary {
    width: 50%;
    margin-top: 5%;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 4%);
  }

  .sponsors .sponsor:nth-child(3) > .sponsor__details {
    margin-left: 50%;
  }

  .sponsors .sponsor:nth-child(3) > .sponsor__caption {
    margin-left: 30%;
  }

  .details__description--primary {
    line-height: 28px;
    font-size: 16px;
  }

  .details__description {
    font-size: 16px;
    line-height: 28px;
  }

  .sponsor__caption {
    width: 55%;
  }

  .caption__heading--primary {
    position: absolute;
    top: 15%;
    right: 0;
    padding: 20px;
  }

  .caption__heading {
    position: absolute;
    top: 75%;
    right: -20%;
    padding: 20px;
    max-width: 250px;
    width: fit-content;
  }

  .caption__heading--inversed {
    max-width: 250px;
    width: fit-content;
  }

  .heading__type {
    font-size: 16px;
  }

  .heading__name--primary {
    font-size: 26px;
  }

  .heading__name {
    font-size: 26px;
  }

  .slider__dots {
    display: flex;
    margin-top: 15%;
  }

  .slider__dot {
    animation: fade-in 5s linear infinite;
  }

  .slider__dots .slider__dot:nth-child(2) {
    animation-delay: 1.25s;
  }
  .slider__dots .slider__dot:nth-child(3) {
    animation-delay: 2.5s;
  }
  .slider__dots .slider__dot:nth-child(4) {
    animation-delay: 3.75s;
  }
  .category__title {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .category__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
  }

  .category__sponsor {
    flex-basis: 20%;
    margin: 0;
  }

  .sponsor__logo {
    margin: 0;
    max-width: 80%;
    width: 80%;
  }
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  to {
    opacity: 0.4;
  }
}

@media screen and (min-width: 1024px) {
  .supporting-us {
    max-width: 1120px;
  }

  .supporting-us__title {
    font-size: 54px;
    line-height: 65px;
  }

  .slider__slide {
    height: 330px;
  }

  .slider__dots {
    margin: 10% 0 0 10%;
  }

  .caption__heading--primary {
    top: 40%;
  }

  .sponsor {
    width: 75%;
    align-self: flex-start;
    margin-bottom: -15%;
  }

  .sponsors .sponsor:last-of-type {
    margin-bottom: 0;
  }

  .sponsors .sponsor:nth-child(3) {
    align-self: flex-end;
  }

  .sponsors .sponsor:nth-child(3) > .sponsor__caption {
    margin-left: 45%;
  }
}
